
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* header */
.material-icons {
    color: rgb(96, 96, 96);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_left img{
    height: 25px;
    width: 100px;
    margin-left: 15px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}
.header_search form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header_search input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.header_search button{
    padding: 0;
    margin: 0;
    height: 35px;
    border: none;
    border-radius: 0;
    display: flex;
}
.main_body{
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sidebar_category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}
.sidebar_category span{
    margin-left: 15px;
}
.sidebar_category:hover{
    background: rgb(211, 209, 209);
    cursor: pointer;
}
hr{
    height: 1px;
    background-color: rgb(235, 230, 230);
    border: none;
}
h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    
    font-size: 0.5cm;
    margin-block-start: 1.cm;
    margin-block-end: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.videos{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border-top:1px solid white ;
    overflow-y: scroll;
}
.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video{
    width: 310px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.video_thumbnail{
    width: 100%;
    height: 170px;
}
.video_thumbnail img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.video:hover{
    cursor: pointer;
}
.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.video_details{
    display: flex;
    margin-top: 10px;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}
.title a,span{
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
}